/*************************************************
 *  Hugo Academic: an academic theme for Hugo.
 *  https://github.com/gcushen/hugo-academic
 **************************************************/

/*************************************************
 *  Fonts
 **************************************************/

@import url(//fonts.googleapis.com/css?family=Lato:400,700);
@import url(//fonts.googleapis.com/css?family=Roboto+Mono);
@import url(//fonts.googleapis.com/css?family=Merriweather);

/*************************************************
 *  Core
 **************************************************/

html, body, p {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.65;
    min-height: 100%;
}

body {
    /* Gap between nav bar and body content */
    padding-top: 90px;
}

h1, h2, h3, h4, h5, h6, .navbar-default {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1em;
    text-rendering: optimizeLegibility;
}

h2 {
    margin-bottom: 21px;
    font-size: 48px;
    font-weight: 400;
}

h3 {
    margin-bottom: 11px;
    font-weight: 700;
}

a, a:visited, h3.post-title a:hover {
    color: #0095eb;
    text-decoration:none;
    transition:color 0.6s ease;
    -webkit-transition:color 0.6s ease;
}

a:hover {
    color: #005181;
}

h3.post-title a {
    color: #151515;
    transition: color 0.6s ease;
    -webkit-transition: color 0.6s ease;
}

pre, code {
    font-family: 'Roboto Mono', 'Courier New', 'Courier', monospace;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after, .row:before {
    content: " ";
    display: table;
}

/*************************************************
 *  Footer
 **************************************************/

footer {
    margin: 4rem 0 0;
    padding: 2rem 0;
    width: 100%;
}

footer p {
    font-size: 0.75rem;
    text-align: center;
}

footer p.powered-by {
    line-height: 40px;
}

.site-footer, footer a#back_to_top i {
    color: #899596;
}

/*************************************************
 *  Home Sections
 **************************************************/

.home-section-wrapper {
    position: relative;
    margin-bottom: 45px;
    border-style: solid;
    border-color: #f7f7f7;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

.home-section-wrapper.full_width {
    padding-left: calc(0vw);
    padding-right: calc(0vw);
    margin-left: calc(0vw);
    margin-right: calc(0vw);
}

.home-section-wrapper.full_width.home {
    padding: 110px 371.25px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 1905px;
    margin-left: -382.5px;
    background-color: rgb(255, 255, 255);
}

.home-section-wrapper.full_width.home:nth-of-type(even) {
    background-color: rgb(247, 247, 247);
}

/*************************************************
 *  Blog Articles
 **************************************************/

.article-metadata {
    margin-bottom: 20px;
}

.article-list-item {
    margin-bottom: 40px;
}

.article-list-item:last-child {
    margin-bottom: 0 !important;
}

.article-list-item .article-metadata {
    margin-bottom: 5px;
}

.article-metadata .article-date, .article-metadata .article-tags {
    margin-right: 10px;
    color: #888;
}

.share {
    width: 140px;
    line-height: 1;
}

.share a {
    color: #0095eb;
    text-decoration: none;
    font-size: 1.75rem;
}

#comments {
    padding: 20px;
}

/*************************************************
 *  Publications
 **************************************************/

#pub_list h3 {
    margin-top: 0;
}

.pub-icon {
    color: #03396c;
    font-size: 0.81em;
    padding-top: 6px;
}

.citation_authors {
    font-style: italic;
}

/* Note: a corresponding style appears further down, in @media for mobile screen size */
.space-below {
    margin-bottom: 50px;
}

/*************************************************
 *  Contact
 **************************************************/

#contact li span {
    padding-left: 10px;
}

/*************************************************
 *  Profile
 **************************************************/

#profile {
    text-align: center;
    padding: 30px 10px;
    position: relative;
}

#profile .portrait {
    background-image: url('../img/portrait.jpg');
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

#profile .portrait-title h2 {
    font-size: 1.75em;
    font-weight: 300;
    color: #000000;
    margin: 20px 0 10px 0;
}

#profile .portrait-title h3 {
    font-size: 1.13em;
    font-weight: 300;
    color: #AAAAAA;
    margin: 0px 0 10px 0;
}

#profile .social-icon li {
    margin: 30px 5px 5px 5px;
}

/*************************************************
 *  Education
 **************************************************/

ul.ul-edu {
    list-style: none;
}

ul.ul-edu li {
    position: relative;
    padding: 0px 15px 4px 3px;
    color: #333333;
}

ul.ul-edu li .description p {
    margin: 0;
}

ul.ul-edu li .description p.course {
    font-size: 1em;
}

ul.ul-edu li .description p.institution {
    font-size: 0.88em;
}

/*************************************************
 *  Buttons
 **************************************************/

.btn-primary {
    border-color: #0095eb;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #0095eb;
}

/*************************************************
 *  Button Outlines
 **************************************************/

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    /*color: #428bca;*/
    color: #0095eb;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/*************************************************
 *  Navigation Bar
 **************************************************/

.navbar {
    min-height:60px !important;
}

.navbar-default {
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:visited {
    white-space: nowrap;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    color: #565a5f;
}

.navbar-default .navbar-nav li a:hover {
    color: #0095eb;
}

.navbar-brand, .navbar-nav li a {
    line-height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    color: #2b2b2b;
}

.big-icon {
    font-size: 40px;
}

@media (max-width:992px){
    .home-section-wrapper.full_width.home {
        padding: 110px 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
    }

    .space-below {
        margin-bottom: 10px;
    }

    .navbar {
        min-height: 50px !important;
    }

    .navbar-header {
        float: none;
        min-height: inherit;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: normal;
    }
    .collapse.in{
        display:block !important;
    }
}
